@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar{
  display: none;
}
body {
  background: #ebe9e9;
}
header {
  width: 100%;
  height: 70px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
}
header .logo span {
  color: #292929;
  font-weight: 800;
  font-size: 24px;
}
header button.rounded-circle {
  min-width: 40px !important;
  width: 48px !important;
  height: 48px !important;
  background: #f0f5ff !important;
  color: #0858f7 !important;
}
header button.rounded-circle svg {
  color: #292929;
  font-size: 18px !important;
  transition: all 02s ease-in-out;
}
/* header button.rounded-circle:hover svg {
  color: #0858f7 !important;
} */
.searchbox {
  width: 300px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
}
.searchbox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
}
.searchbox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0, 6);
}
.searchbox svg {
  font-size: 18px;
  color: #292929;
}
.myAcc {
  text-align: left !important;
  color: #000 !important;
  text-transform: capitalize !important;
}
.myAcc .userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #0858f7;
  padding: 3px;
  border-radius: 100%;
}
.myAcc .userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.myAcc .userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.myAcc .userInfo {
  padding-left: 10px;
}
.myAcc .userInfo h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #292929;
}
.myAcc .userInfo p {
  margin-top: 0px;
  font-size: 12px;
  color: #000;
  opacity: 0.7;
}
.main .sidebarWrapper {
  width: 15%;
  flex: 0 0 15%;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper.toggle {
  width: 0%;
  flex: 0 0 0%;
}
.main .sidebarWrapper .sidebar {
  width: 15%;
  height: 100vh;
  /* max-height: calc(100%-70%); */
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 70px;
  left: 0px;
  background: #fff;
  padding-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper.toggle .sidebar {
  left: -100%;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 2px;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}
/* .main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
  background: #0858f7 !important;
} */
.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px;
  padding: 10px 15px !important;
}
.main .sidebarWrapper .sidebar li {
  list-style: none;
}
.main .sidebarWrapper .sidebar ul li button {
  color: #5e5d72 !important;
  text-align: left;
  justify-content: left;
  padding: 12px 15px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 500 !important;
  font-family: "Open Sans", sans-serif !important;
  border-radius: 10px;
  font-size: 15px !important;
  
  text-transform: capitalize !important;
font-family: "Open Sans", sans-serif !important;
font-size: 15px !important;
padding: 12px 15px !important
}
.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.main .sidebarWrapper .sidebar ul li button .icon svg {
  color: #000;
  opacity: 0.8;
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button * {
  color: #5e5d72 !important;
}
.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}
.main .sidebarWrapper .sidebar ul li button.active {
  background: #f1f1f1 !important;
}
.main .sidebarWrapper .sidebar ul .submenu {
  padding-left: 45px;
}
.main .sidebarWrapper .sidebar ul .submenu li {
  width: 100%;
  list-style: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 25px;
}
.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d72 !important;
  text-decoration: none;
  display: block;
  padding: 6px 0px;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.3s;
}

.main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0858f7;
}
.main .content {
  width: 85%;
  flex: 0 0 85%;
  margin-top: 3%;
  transition: all 0.3s ease-in-out;
}
.main .content.toggle {
  width: 100%;
  flex: 0 0 100%;
}
.right-content {
  padding: 90px 30px;
  padding-bottom: 10px;
}
.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
/* .MuiDataGrid-columnHeader {
  pointer-events: none;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}